body{
    font-family: "Open Sans";
    font-size: 16px;
    background-color: #A100004D;
}
h1{
    font-size: 28px;
    color:#A10000;
    font-weight: bold;
}
h2{
    font-size: 24px;
}
.wrapper{
    background-color: #FCFCFC;
    max-inline-size: 1280px;
    margin-inline:auto;
}

.grey-bg{
    background-color: #EBEBEB;
}
