body{
    font-family: "Open Sans";
    background-color: #A100004D;
    padding-bottom:64px;
}
h1{
    font-size: 1.75rem;
    color:#A10000;
    font-weight: bold;
}
h2{
    font-size: 1.5rem;
}
main{
    padding: 48px;
    padding-bottom: 64px;
    background-color: #FCFCFC;
}
.wrapper{  
    max-inline-size: 1280px;
    margin-inline:auto;
}
img{
    display: block;
    max-inline-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
}
.banner{
    box-sizing: border-box;
    block-size: 500px;
    min-inline-size: 100%;
    border:#fcfcfc 1px solid;
}
.grey-bg{
    background-color: #EBEBEB;
    padding:16px;
}
.two-column-layout{
    display:grid;
    gap: 24px;
    @media (width>720px){
        grid-template-columns: 1fr 1fr;
    }
}
.two-column-layout img{
    min-inline-size: 300px;
    margin-inline:auto;
    block-size: 467px;
    inline-size: 408px;
    
    @media (width>720px){
        inline-size: 580px;
    }
   
}