body{
    font-family: "Open Sans";
    font-size: 16px;
    background-color: #A100004D;
}
h1{
    font-size: 28px;
    color:#A10000;
    font-weight: bold;
}
h2{
    font-size: 24px;
}
.grey-bg{
    background-color: #EBEBEB;
}
