*{
    box-sizing:border-box;
}
body{
    font-family: "Open Sans";
    background-color: #e7b8b2;
    padding-bottom:64px;
}
h1{
    font-size: 1.75rem;
    color:#A10000;
    font-weight: bold;
}
h2{
    font-size: 1.5rem;
}
.wrapper{  
    max-inline-size: 1280px;
    background-color: #f9f6f7;
    margin-inline:auto;
}
main{
    padding:48px 16px 64px;
    @media(width>720p){
        padding: 48px;
    padding-bottom: 64px;
    }
  
}
img{
    display: block;
    max-inline-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
}
.banner{
    box-sizing: border-box;
    block-size: 500px;
    min-inline-size: 100%;
    border:#fcfcfc 1px solid;

}
figure{
    margin:0px;
}
figcaption{
    padding-left:20px;
    background-color: white;
}
.grey-bg{
    background-color: #EBEBEB;
    padding:16px;
}
.two-column-layout{
    display:grid;
    gap: 24px;
    @media (width>720px){
        grid-template-columns: 1fr 1fr;
    }
}
.two-column-layout img{
    min-inline-size: 300px;
    margin-inline:auto;
    block-size: 467px;
    inline-size: 408px;
    
    @media (width>720px){
        inline-size: 580px;
    }
   
}
.hero{
    background-image:  linear-gradient(rgba(99, 22, 22, 0.5), rgba(100, 27, 27, 0.5)), url("/images/Card/card-1.jpg");
    background-repeat: no-repeat;
    margin: 0px;
    background-size:cover;
    background-position-y:center;
    block-size: 500px;
    color:white;
    & .text-container{
        margin: 150px;
        color:white;
        font-family: "Playpen Sans";
        & h1{
            color:white;
            font-size: 4.5rem;
            line-height:20px;
        }
        & h2{
            margin-left: 50px;
        }
    }
}
main{
    padding:0px;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
}
.card{
    display: grid;
    grid-template-rows: subgrid;
    border-radius: 4px;
    border:solid 1px #eae7e9;
    padding:20px;
    block-size: 500px;
    transition-duration: 0.3s;
    background-color: #ffffff;
    font-family: "Noto Sans";
    p {
        margin-top: 0px;
        font-size: 14px;
    }
    h2{
        line-height: 20px;
        margin-bottom: 0px;
    }
    
}
.card_link{
    text-decoration: none;
}
.card_link:visited{
    color: black;
}
.card_link:hover{
    scale: 1.2;
    .card{
        display:grid;
        padding:10px;
    }
    h2{
        text-decoration: underline;
        text-decoration-color: #7b130b;
        text-decoration-thickness:3px;
    }
}
.Recipe-container{
    margin-inline: 30px;
}
.card__image{
    display: block;
    object-fit: cover;
    block-size: 300px;
    inline-size: 100%;   
}
.page-logo{
    font-family: "Playpen Sans";
}
header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #f9f6f7;
    inline-size: 95%;
 .page-logo{
        font-size: 2rem;
        color:#7b130b;
    }
 ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
 li {
            color: black;
            a{
                font-family:"Noto Sans";
                font-weight: bold;
                text-decoration: none;
            }
            a:visited{
                color: black;
            }
        }
    }
 button{
        align-self: center;
        justify-self: end;
        inline-size: 80px;
        block-size: 40px;
    }
}
.subtitle{
    color: #7b130b;
    text-align: center;
    font-family:"Noto Sans";
}
                .accesiility-links{
                    visibility: hidden ;          
                }
                .accesiility-links:focus{
                    visibility: visible;

                } 